{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-alert": 1,
    "no-global-assign": 0,
    "no-unsafe-negation": 0
  }
}
